{% extends "base.html" %}
{% block title %}Home{% endblock%}

{% block content %}
    
    {% for article in articles %}
        <h3>
        <a href=
            "{{ url_for('articles.article', id=article.id )}}"
            >{{ article.title }}</a>
        </h3>
        <p>Written by <a href="{{ url_for('articles.get_profile', username=article.author.username)}}">
            {{ article.author.username }}</a>
            on {{ moment(article.timestamp).format('MM/DD/YYYY - h:mm A') }}</p>
        <hr>
    {% endfor %}
{% endblock %}