{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div>
        {# don't use HTML to validate the form #}
        <form novalidate
            method="POST"
            action="{{ url_for('auth.login') }}">
            {{ form.csrf_token }}
            {{ form.next(value=request.args.get('next'))}}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class='form-control') }}
            </div>
            {{ form.submit() }}
        </form>
    </div>

{% endblock %}